language:
  language_code: es-ES
main:
  prefix: mayordomo
  name: test
  owner: test
  location: unknown
  description: Test device description
mqtt:
  host: localhost
  port: 1883
  password: 
  username: 
